<div class="wrapper">
  <h1>Create Order</h1>
  <form #createForm="ngForm" (ngSubmit)="createOrder()">
    <div class="form-input">
      <label for="input1">Name</label>
      <input type="text" id="input1" [(ngModel)]="name" name="orderName" />
    </div>
    <div class="form-input">
      <label for="textarea1">Description</label>
      <textarea
        id="textarea1"
        rows="10"
        [(ngModel)]="description"
        name="orderDescription"
      ></textarea>
    </div>
    <div class="bottom">
      <button type="submit">create</button>
      <button (click)="goHome()">home</button>
    </div>
  </form>
</div>
